* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: .6s;
}

.first-container-fluid {
    height: 100vh;
    background: url(hero_2.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: brightness(.8); */
}

.firstsaction-container {
    height: 100vh;
    /* border: 2px solid red; */
    /* z-index: 111; */
}

.navsaction-container {
    width: 100%;
    height: 90px;
    /* border: 2px solid yellow; */
    background-color: white;
    border-radius: 10px;
    position: relative;
    /* z-index: 11111; */
}

.navsaction-container h1 {
    font-size: 23px;
}

.navsaction-container ul {
    /* border: 2px solid blue; */
    width: 35%;
    height: 80px;
    position: absolute;
    right: 400px;
}

.navsaction-container ul li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.navsaction-container ul li a:hover {
    color: skyblue;
}

.navsaction-container button {
    width: 70px;
    border: none;
    background: none;
}

#b1:hover {
    color: skyblue;
}

#b1 {
    position: absolute;
    right: 330px;
    padding-left: 20px;
    border-left: 1px solid grey;
}

#b2:hover {
    color: skyblue;
}

#b2 {
    position: absolute;
    right: 255px;
    /* border: 1px solid; */
}

#Post-an-Ad {
    /* border: 2px solid red; */
    width: 145px;
    height: 43px;
    border-radius: 5px;
    background-color: rgba(42, 182, 238, 0.527);
    color: white;
    position: absolute;
    right: 32px;
}

#firstsaction-text-1 {
    color: white;
    font-size: 50px;
    font-weight: normal;
    margin-top: 100px;
}

#firstsaction-pelegraf-1 {
    color: lightgray;
    font-size: 22px;
}

.first-container-fluid-sacond-container {
    /* border: 2px solid red; */
    height: 90px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.527);
}

#first-container-fluid-input-1 {
    width: 330px;
    height: 45px;
    margin-left: 10px;
    /* text-align: center; */
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
}

#first-container-fluid-input-2 {
    width: 230px;
    margin-left: 55px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    padding-left: 10px;
}

#first-container-fluid-input-3 {
    width: 230px;
    margin-left: 30px;
    height: 45px;
    border: none;
    font-size: 17px;
    border-radius: 5px;
    padding-left: 10px;
}

#input-button {
    width: 165px;
    height: 45px;
    border-radius: 5px;
    margin-left: 30px;
    border: none;
    background-color: rgb(57, 190, 247);
    font-size: 17px;
    font-weight: lighter;
}

.sacondsaction-fluid {
    /* border: 3px solid ; */
    height: 100vh;
}

.sacondsaction-fluid-container {
    height: 100vh;
    /* border: 2px solid red; */
    margin-top: -45px;
    border-radius: 10px;
    background-color: white;
}

.sacondsaction-fluid-container-top {
    /* border: 2px solid red; */
    height: 190px;
    /* border: 20px solid pink; */
}

#sacond-box {
    height: 100%;
    /* border: 2px solid yellow; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

#sacond-box-img {
    width: 50px;
    height: 50px;
    margin-top: 30px;
}

#card-text-h1 {
    margin-top: 20px;
    font-size: 18px;
    color: gray;
    font-weight: normal;
}

#sacond-box:hover {
    transform: translatey(-15px);
    background-color: skyblue;
}

#sacond-box:hover #card-text-h1 {
    color: white;
}

#Featured-Ads {
    font-size: 24px;
    font-weight: normal;
    margin-top: 35px;
}

.sacondsaction-fluid-container-bottom {
    /* border: 2px solid yellow; */
    height: 300px;
}

#sacond-box-bottom {
    /* border: 2px solid blue; */
    width: 22%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    border-radius: 10px;
}

.sacond-box-bottom-top {
    /* border: 2px solid; */
    height: 140px;
    width: 250px;
    margin-left: -14px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.sacond-box-bottom-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
}

#cars{
    margin-top: 10px;
    font-size: 13px;
    background-color: rgb(223, 220, 220);
    width: 100px;
    padding: 7px 5px;
    border-radius: 30px;
}

#Red-lexury{
    margin-top: 20px;
    font-weight: bolder;
    color: lightgray;
}

#Don-st{
    margin-top: -10px;
    font-size: 14px;
}

#Reviews{
    font-size: 14px;
}

.bi-star{
    margin-right: 10px;
}

.thirdsaction-container-fluid{
    border: 2px solid rgb(255, 255, 255);
    height: 160vh;
    background-color: aliceblue;
    overflow: hidden;
}

#popular{
    font-size: 40px;
    margin-top: 70px;
    color: rgb(162, 194, 207);
}

#lorem{
    font-size: 20px;
    color: gray;
}

.thirdsaction-top-box{
    /* border: 2px solid yellow; */
    height: 320px;
}

.third-top-box-card{
    /* border: 2px solid ; */
    border-radius: 10px;
}

#third-card-1{
    background: url(img_1.jpg.webp);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
}

#third-card-2{
    background: url(img_2.jpg.webp);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
}

#third-card-3{
    background: url(img_3.jpg.webp);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
}

#third-h1{
    font-size: 15px;
    color: white;
    margin-left: 10px;
    margin-top: 200px;
}

#third-p{
    font-size: 25px;
    color: white;
    margin-left: 10px;
}

#third-h6{
    color: rgb(255, 248, 248);
    margin-left: 10px;
}

.third-bottom-box{
    /* border: 2px solid red; */
    height: 480px;
}

.third-bottom-box-card-1{
    /* border: 2px solid greenyellow; */
    width: 520px;
    margin-left: 150px;
    margin-right: 30px;
    border-radius: 10px;
    position: relative;
    /* border: 2px solid blue; */
}

.third-bottom-box-card-1:before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(img_4.jpg.webp);
    background-position: center;
    background-size: cover;
    /* border: 2px solid green; */
    filter: brightness(.5);
    border-radius: 10px;
    top: 0;
    left: 0;
}   

.third-bottom-box-card-2{
    /* border: 2px solid greenyellow; */
    border-radius: 10px;
    width: 520px;
    position: relative;
}

.third-bottom-box-card-2:before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(img_2.jpg.webp);
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    filter: brightness(.5);
    border-radius: 10px;
}  

#third-bottom-box-h1{
    color: white;
}

#third-elec{
    position: absolute;
    bottom: 100px;
    color: white;
    margin-left: 20px;
}

#third-phone{
    position: absolute;
    color: white;
    font-size: 22px;
    margin-left: 20px;
    bottom: 50px;
}

#third-don{
    position: absolute;
    color: white;
    margin-left: 20px;
    bottom: 30px;
}

.forth-sacton{
    /* border: 2px solid; */
    height: 100vh;
}

.forth-title{
    color: skyblue;
}

.forthsaction-contiainer-slid-box{
    /* border: 2px solid yellow; */
    height: 500px;
}

.slider-img{
    border-radius: 50%;
}

.slider-pelegraf{
    color: gray;
    font-size: 17px;
}

.slider-p{
    color: gray;
    font-size: 23px;
    text-align: center;
}

.fifthsaction-container-fluid{
  /* border: 2px solid red; */
  height: 150px;
  background-color: #31e2ca;
}

.fifth-item-container{
    /* border: 2px solid blue; */
    height: 100%;
}

.fifth-h1{
    font-size: 18px;
    color: gray;
}

.fifth-input{
    width: 400px;
  background-color: #31e2ca;
  height: 50px;
  border: none;
  border-bottom:2px solid white ;
  padding-left: 10px;
}

.fifth-input::placeholder{
    color: white;
}

.fifth-button{
    border:  none;
    background: none;
    height: 45px;
    width: 100px;
    margin-top: 7px;
    background-color: pink;
}

.sixthsaction-container-fluid{
    /* border: 2px solid red; */
    height: 70vh;
    background-color: #323233;
}

.sixthsaction-container{
    /* border: 2px solid white; */
    height: 100%;
}

.sixthsaction-container-top{
    /* border: 2px solid yellow; */
    height: 50%;
    display: flex;
}

.sixth-top-text{
    /* border: 2px solid blue; */
    width: 400px;
    height: 100%;
}

.sixth-top-text h1{
    margin-top: 50px;
    /* margin-left: 30px; */
}

.sixth-top-navigation{
    /* border: 2px solid green; */
    width: 230px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.sixth-top-navigation h1{
    margin-top: 50px;
    color: white;
    font-size: 18px;
}

.sixth-top-navigation p{
    color: gray;

}

.sixth-top-text p{
    color: gray;
    font-size: 18px;
    margin-top: 30px;
}

.sixthsaction-container-bottom{
    /* border: 2px solid yellow; */
    height: 50%;
}

.six-bottom-h1{
    color: gray;
    font-size: 20px;
}

.sixth-top-follow{
    width: 210px;
    height: 100%;
    /* border: 2px solid red; */
}

.sixth-top-follow h1{
    color: white;
    font-size: 18px;
    margin-top: 50px;
}

.sixth-top-input-input{
    margin-top: 70px;
    height: 40px;
    background: none;
    border: none;
    border: 1px solid white;
    padding-left: 20px;
}

.six-top-button{
    background-color: skyblue;
    height: 40px;
    width: 60px;
    border: none;
    margin-left: -5px;
    margin-top: -8px;
}

.icon{
    width: 80%;
    height: 40px;
    /* border: 2px solid red; */
}

.bi-instagram,.bi-facebook,.bi-twitter,.bi-twitch{
    color: gray;
}

/* .second-sec-col {
    border: 6px solid green!important;
    background-color: red;
} */

@media screen and (max-width: 600px) {

    .first-container-fluid{
        /* border: 2px solid red; */
        width: 100%;
        background-position: center;
        overflow: hidden;
    }   

    .navsaction-container ul li a {
        border: 2px solid red;
        display: none;
    }

    #b1{
        display: none;
    }

    #b2{
        display: none;
    }

    #firstsaction-text-1{
        font-size: 35px;
        margin: 0;
    }

    .first-container-fluid-sacond-container{
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #first-container-fluid-input-1 {
        width: 95%;
        height: 60px;
        margin: 0;
    }

    #first-container-fluid-input-2 {
        width: 95%;
        height: 60px;
        margin: 0;
    }

    #first-container-fluid-input-3 {
        width: 95%;
        height: 60px;
        margin: 0;
    }

    #input-button{
        width: 95%;
        height: 60px;
        margin: 0;
    }

    .sacondsaction-fluid{
        width: 100%;
        /* border: 2px solid red; */
        height: 1450px;
        /* overflow: hidden; */
    }

    .sacondsaction-fluid-container{
        /* border: 2px solid green; */
        height: 1000px;
    }

    .sacondsaction-fluid-container-top {
        /* border: 2px solid blue; */
        /* align-items: center; */
        height: 970px;
        width: 100%;
    }

    #sacond-box{
        /* border: 3px solid red; */
        height: 160px;
    }

    .sacondsaction-fluid-container-bottom{
        /* border: 2px solid red; */
        flex-direction: column;
        height: 300px;
        overflow: hidden;
    }

    #Featured-Ads{
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .sacond-col-bottom-2{
        border: none;
    }

    #sacond-box-bottom{
        /* border: 2px solid green; */
        width: 100%;
        height: 100%;
        /* display: flex; */
        /* align-items: center; */
        /* flex-direction: column; */
    }

    .sacond-box-bottom-top{
        width: 100%;
        object-fit: cover;
        margin: 0;
    }

}